@media screen and (min-width: 480px) {

        .container {
                width: 428px;
        }

.mobile-tel {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
        color: #4d5ae5;
        transition: background-color var(--hover-animation);
}

.topic-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        width: 319px;
}


}