:root {
 --title-text-coior: #2e2f42;
  --topic-text-color: #ffffff;
  --principle-title: #2e2f42;
  --text-signatures: #434455;
  --topic-gradient: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7));
  --footer-text: #e7e9fc;
  --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.name {
  margin-bottom: 72px;
  text-align: center;
  }
.list {
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
}
.item:nth-child(n + 2) {
  margin-left: 24px;
}
/* Logotipe */
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}
/* .header */
.header {
  padding-top: 24px;
  padding-bottom: 28px;
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-container {
  display: flex;
}
.header-list {
  gap: 40px;
  margin-left: 76px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color var(--hover-animation);
}
.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
}

.current {
color: #404BBF;
}

.header-link.current::after
 {
  position: absolute;  
  display: block;
      content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 48px;
       background-color: #404BBF;
    border-radius: 2px;
    
}

.header-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--hover-animation);
}

.header-details:hover,
.header-details:focus {
  color: #4d5ae5;
}

.post {
  margin-right: 40px;
}
/* Main index.html */
/* topic section */
.topic {
  display: flex;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: 
  var(--topic-gradient),
  url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.topic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topic-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--topic-text-color);
  width: 494px;
}
.topic-button {
  font-family: "Roboto", sans-serif;
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color var(--hover-animation), box-shadow var(--hover-animation);
}
.topic-button:hover ,
.topic-button:focus {
  background-color: #404BBF;;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* principle & team section */
.principle-title,
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--principle-title);
}

.principle-text {
  margin-top: 8px;
  width: 264px;
}
.principle-text,
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-signatures);
}

.principle-frame {
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;

}
.principle-frame::before {
  display: inline-block;
  content: "";
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 64px;
  height: 64px;
  margin-left: 100px;
  margin-top: 24px;
}

.icon-anten::before {
  background-image: url('../images/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/astronaut.svg');
}

.principle-title {
  margin-top: 8px;
}

.visual-title,
.team-title,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-coior);
}

.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;  
}
.team-position {
  margin-top: 8px;
}
.team-media
{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--hover-animation);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #404BBF;
}
.soc-icon {
  fill: #F4F4FD;
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.cust-comp {
  display: flex;
  gap: 24px;
}

.comp-item {
width: 168px;
  height: 88px;
}

.comp-link {
width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--hover-animation);
}
.comp-link:hover,
.comp-link:focus
 {
border-color: #404BBF;
}
.comp-link:hover .comp-icon,
.comp-link:focus
.comp-icon {
  fill: #404BBF;
}
.comp-icon {
  fill: #8E8F99;
  transition: fill var(--hover-animation);
}

/* footer */
.footer {

  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.footer-container {
  display: flex;
  gap: 120px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  width: 264px;
  margin-top: 16px;
  
}

.soc-h {
  margin-bottom: 16px;
  color: var(--footer-text);
      
}

.footer-media {
  display: flex;
  justify-content: center;
  gap: 16px;
  
}

.footer-soc-item {
width: 40px;
height: 40px;
}

.footer-soc-link {
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color var(--hover-animation);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31D0AA;
}

.footer-soc-icon {
  fill: var(--footer-text);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity var(--hover-animation), visibility var(--hover-animation);
}

.modal {
  position: absolute;
  margin-top: 88px;
  left: 50%;
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translatex(-50%) scaley(1);
  transition: transform var(--hover-animation);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scaley(0);
}

.modal-close {
display: flex;
margin-left: auto;
align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--hover-animation);
}
.modal-close:hover,
.modal-close:focus
 {
  background-color: #404BBF;
}

.modal-x {
  transition: fill var(--hover-animation);
}

.modal-close:hover .modal-x,
.modal-close:focus .modal-x
{
fill: #FFFFFF;
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


/* Portfolio */
.section-port {
  padding-top: 96px;
  padding-bottom: 120px;
}
.category {
  margin-bottom: 72px;
  gap: 24px;
  display: flex;
  justify-content: center;
}
.category-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--hover-animation), color var(--hover-animation), box-shadow var(--hover-animation);
}
.category-button:hover,
.category-button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.banner-shadow {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--hover-animation);
}

.banner-shadow:hover,
.banner-shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);

}

.banner {
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  }


.banner-animation {
position: relative;
overflow: hidden;
}

.banner-shadow:hover .banner-text,
.banner-shadow:focus .banner-text {
  transform: translateY(0%);
}

.banner-text {
position: absolute;
top: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
height: 100%;
transform: translateY(100%);
transition: transform var(--hover-animation);
overflow: auto;
}

.banner-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--principle-title);
}
.banner-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-signatures);
  margin-top: 8px;
}

.signature {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #E7E9FC;
  border-top: none;
}
a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
